.hero-img{
    height: 500px;
    background-size: cover;
    background-position: center;
    animation: heroImg 16s infinite;
}

@keyframes heroImg{
 0%{
    background-image: url(https://images.pexels.com/photos/5965827/pexels-photo-5965827.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
}
 30%{
    background-image: url(https://images.pexels.com/photos/4308098/pexels-photo-4308098.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);

 }
 70%{
    background-image: url(https://images.pexels.com/photos/1809340/pexels-photo-1809340.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);

 }
 100%{

    background-image: url(https://images.pexels.com/photos/5965827/pexels-photo-5965827.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
 }
}